<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Contact Wes
    </title>
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Muli|Slabo+27px|Space+Mono" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav>
            <h1>Wes Smiley</h1>
            <ul>
                <li><a href="about.html">About Me</a></li>
                <li><a href="index.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>

        </nav>
    </header>
    <div class="main">
        <p class="main-text">
            Wes Smiley
            <br><a href="https://www.linkedin.com/in/wesleysmiley/">Connect on LinkedIn</a>
            <br><a href="https://twitter.com/wsmiley_">Follow Me On Twitter</a>
    </div>
    <footer class="footer">
        <p id="foot_right">&copy; Copyright Wes Smiley</p>
    </footer>
</body>
</html>
