<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/scrolling-nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="main">
    {% block nav %}
        <div class="navbar navbar-default navbar-fixed-top" id="nav" role="navigation">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav nav-justified">
                    <li><a href="#page-top" class="page-scroll">Home</a></li>
                    <li><a href="#projects" class="page-scroll">Projects</a></li>
                    <li><a href="#" class="page-scroll">About</a></li>
                    <li><a href="#" class="page-scroll">Blog</a></li>
                    <li><a href="#" class="page-scroll">Contact</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}

    <div id="content">
        {% block content %}
            <div class="page">
                <div class="container" id="landing">
                    <h1 class="text-center">Wes Smiley</h1>
                    <p class="text-center">Full stack python web developer</p>
                    <a class="btn btn-default center-block" href="#" role="button">See my projects</a>
                </div>
            </div>
            <div class="page" id="projects">
                <div class="container">
                    <h1>Another page</h1>
                </div>
            </div>
        {% endblock %}
    </div>


    {% block footer %}
        <footer id="footer">
            <div class="container">
                <p class="pull-left">&copy Wes Smiley 2017</p>
                <a href="https://github.com/wcsmileyk" class="fa fa-github pull-right"> GitHub</a>
            </div>
        </footer>
    {% endblock %}

</div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
</body>
</html>