<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wes Smiley</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2 sidebar pull-left">
                    <ul class="nav nav-stacked">
                        <li><a href="#page-top" class="page-scroll">Home</a></li>
                        <li><a href="#projects" class="page-scroll">Projects</a></li>
                        <li><a href="#about" class="page-scroll">About</a></li>
                        <li><a href="#contact" class="page-scroll">Contact</a></li>
                    </ul>
                </div>

                <div id="content" class="col-md-10 col-sm-10 pull-right">
                    <div class="page">
                        <div id="landing">
                            <h1 class="text-center">Wes Smiley</h1>
                            <p class="text-center">Full stack python web developer</p>
                            <a class="btn btn-default center-block page-scroll" href="#projects" role="button">See my projects</a>
                        </div>
                    </div>

                    <div class="page" id="projects">
                        <div>
                            <div id="proj-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#proj-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#proj-carousel" data-slide-to="1"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="proj">
                                            <h1>Group Packing</h1>
                                            <div>
                                                <div>
                                                    <img class="img-rounded img-thumbnail proj-img" src="{{ url_for('static', filename='img/proj-imgs/gpacking-scrn-shot.png') }}">
                                                    <img class="img-rounded img-thumbnail proj-img" src="{{ url_for('static', filename='img/proj-imgs/gpacking-inventory.png') }}">
                                                </div>
                                                <h3>
                                                    A web application used to manage outdoor equipment.
                                                </h3>
                                                <a class="btn btn-default" href="http://www.grouppacking.com">See it in action</a>
                                                <a class="btn btn-default" href="https://github.com/wcsmileyk/gpacking">See the source code</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="item">
                                        <div class="proj">
                                            <h1>GitHub</h1>
                                            <h3>
                                                You can also view all my current and former public projects at my GitHub page.
                                            </h3>
                                            <p>
                                                Check back often as I build out more public projects
                                            </p>
                                            <a href="https://github.com/wcsmileyk" class="btn btn-default">Check them out</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#proj-carousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#proj-carousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="page" id="about">
                        <h3>
                            My name is Wes Smiley, and I want to help you.
                        </h3>
                        <p>
                            I got my start in the Marine Corps as a systems and network administrator, where I developed an attitude that no problem is unsolvable.
                            I have a lot of experience in a variety of technologies, and am currently focusing on developing useful responsive web applications. I'm ready to take on any challenge you have for me.
                        </p>

                        <div>
                            <h4>Technologies</h4>
                            <ul class="list-unstyled list-inline">
                                <li>Python</li>
                                <li>Flask</li>
                                <li>Django</li>
                                <li>JQuery</li>
                                <li>HTML</li>
                                <li>CSS</li>
                            </ul>
                        </div>

                        <a href="#projects" class="btn btn-default page-scroll about-btn">Check out my projects</a>
                        <a href="#contact" class="btn btn-default page-scroll about-btn">Contact me</a>

                    </div>

                    <div class="page" id="contact">
                        <form action="" method="post" class="col-xs-8 col-md-6 col-md-offset-2 col-xs-offset-1">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" aria-label="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-label="Email Address">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="10" placeholder="How can I help?"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>

                        </form>
                    </div>

                </div>

            </div>


        </div>



        <footer id="footer">
            <div class="container">
                <p class="pull-left">&copy Wes Smiley 2017</p>
                <a href="https://github.com/wcsmileyk" class="fa fa-github pull-right"> GitHub</a>
            </div>
        </footer>

    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>

</body>

</html>