{% extends "base.html" %}

{% block title %}
Wes Smiley - Projects
{% endblock %}

{% block projects %}
    <li><a href="https://github.com/wcsmileyk?tab=repositories"><h3>Github</h3><p>My main github page. It's a work in progress</p></a></li>
    <li><a href="https://github.com/wcsmileyk/portfolio"><h3>Personal Portfolio</h3><p>The repo for this website, also a work in progress.</p></a></li>
    <li><a href="https://github.com/wcsmileyk/games"><h3>Games</h3><p>A repository for small games I build. It'll grow, I promise!</p></a></li>
    <li><a href="https://reddit.com"><h3>Dummy Project 3</h3><p>This is really just reddit right now, I'll add projects to these placeholders as I go.</p></a></li>
    <li><a href="https://reddit.com"><h3>Dummy Project 4</h3><p>This is really just reddit right now</p></a></li>
    <li><a href="https://reddit.com"><h3>Dummy Project 5</h3><p>This is really just reddit right now</p></a></li>
    <li><a href="https://reddit.com"><h3>Dummy Project 6</h3><p>This is really just reddit right now</p></a></li>
{% endblock %}
