{% extends 'base.html' %}

{% block title %}Wes Smiley{% endblock %}

{% block content %}
    <div class="page">
        <div class="container" id="landing">
            <h1 class="text-center">Wes Smiley</h1>
            <p class="text-center">Full stack python web developer</p>
            <a class="btn btn-default center-block" href="#" role="button">See my projects</a>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h1>Another page</h1>
        </div>
    </div>

{% endblock %}